{set:
$myCartObj  = new Cart();
$myCartInfo = $myCartObj->getMyCart();
$siteConfig = new Config("site_config");
$callback   = IReq::get('callback') ? urlencode(IFilter::act(IReq::get('callback'),'url')) : '';
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{echo:$siteConfig->name}</title>
    <link type="image/x-icon" href="favicon.ico" rel="icon">
    <link rel="stylesheet" href="{skin:css/bootstrap.css}" />
    <link rel="stylesheet" href="{skin:css/webmall.css}" />
    <link rel="stylesheet" href="{skin:css/index.css}" />
    <link rel="stylesheet" href="{skin:css/top.css}" />
    {js:jquery}
    {js:form}
    {js:validate}
    {js:dialog}
    {js:artTemplate}
    <script type='text/javascript' src="{theme:javascript/common.js}"></script>
    <script type='text/javascript' src='{theme:javascript/site.js}'></script>

    <!--{#set:$sonline = new Sonline();$sonline->show($siteConfig->phone,$siteConfig->service_online);#}-->
    <script type='text/javascript'>
        jQuery(function()
        {

            $(window).scroll(function(){
                if($(window).scrollTop()>100){
                    $("#side-bar .gotop").fadeIn();
                }
                else{
                    $("#side-bar .gotop").hide();
                }
            });
            $("#side-bar .gotop").click(function(){
                $('html,body').animate({'scrollTop':0},500);
            });
        });

    </script>
</head>
<body>

<ul id="side-bar" class="side-pannel side-bar">
    <li>
        <a href="javascript:;" class="gotop" style="display:none;">
            <s class="g-icon-top"></s>
            <s class="g-text-top">顶部</s>
        </a>
    </li>
    {set:Sonline::sideBarQQ($siteConfig->service_online)}
    {if:!$this->user}
    <li>
        <a href="{url:/simple/login?callback=$callback}" target="_blank" class="text"><span>登录</span></a>
    </li>
    {/if}
</ul>

<!--header-->
<div class="head fl wfs">
    <div class="cover-page-wrapper">
        <a class="fl" href="{url:/site/index}"><b></b>
            <img src="{skin:images/front/logo.png}" width="250" height="53">
        </a>

        <font id="ECS_MEMBERZONE">
            {if:$this->user}
            <div class="head-operates-logined fr" style="width:280px">
                <div class="j-user-img" style="width: 54px; height: 45px; float: left; position: relative;">
                    <a href="{url:/ucenter}">
                        {set:$user_ico = $this->user['head_ico']}
                        <img class="user-img" style="margin-top: -3px;" src="{url:/pic/thumb/img/$user_ico/w/45/h/45}" width="45" height="45" onerror="this.src='{skin:images/front/user_ico.gif}'" alt="">
                    </a>
                    <div class="logined j-logined" style="height: 0px; opacity: 0; display: none; overflow: hidden;">
                        <div style="border: 1px solid #ddd;background-color: #fff;position: absolute;">
                            <em class="trangle"></em>
                            <p class="logined-user">
                                <b class="fl">{echo:$this->user['username']}</b>
                                <img class="user-img" style="margin-top: -3px; float:right;" src="{url:/pic/thumb/img/$user_ico/w/45/h/45}" onerror="this.src='{skin:images/front/user_ico.gif}'" width="45" height="45">
                            </p>
                            <ul class="logined-item">
                                <li class="order"><i></i><a href="{url:/ucenter/order}">订单中心</a></li>
                                <li class="member"><i></i><a href="{url:/ucenter}">会员中心</a></li>
                                <li class="account"><i></i><a href="{url:/ucenter/info}">帐户中心</a></li>
                                <!--<li class="service"><i></i><a href="{url:/ucenter/account_log}">账户余额</a></li>-->
                            </ul>
                            <p class="logined-operate fl wfs">
                                <a class="modify-pwd" href="{url:/ucenter/password}">修改密码</a>
                                <a class="quit" href="{url:/simple/logout}">退出</a>
                            </p>
                        </div>
                    </div>
                </div>
                <a href="{url:/site/help_list}" class="quest">帮助</a>
                <a href="{url:/simple/seller}" class="quest">申请开店</a>
                <a href="{url:/seller/index}" class="quest">商家管理</a>
            </div>
            {else:}
            <p class="head-operates-logined fr">
                <a href="{url:/simple/login?callback=$callback}" class="login">登录</a>
                <a href="{url:/simple/reg?callback=$callback}" class="watch">注册</a>
                <a href="{url:/site/help_list}" class="quest">帮助</a>
                <a href="{url:/simple/seller}" class="quest">申请开店</a>
                <a href="{url:/seller/index}" class="quest">商家管理</a>
            </p>
            {/if}
        </font>
    </div>
</div>
<!--header-->
<div class="fl wfs bceb">
    {viewcontent}
</div>
<div class="cover-page-foot fl wfs">
    {echo:IFilter::stripSlash($siteConfig->site_footer_code)}
</div>
<script type='text/javascript' src='{skin:js/nav.js}'></script>
</body>
</html>
